* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: #eee;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
}

.fl {float:left;}
.fr {float:right;}
.cfx {clear: both;}

/* =================================== */
/* MAIN CONTAINERS
/* =================================== */
aside#sidebar {
	width: 7%;
	background: #121920;
	position: fixed;
	height: 100%;
}

.center {
	width: 73%;
}

.right {
	width: 21.895%;
}

/* =================================== */
/* CONTAINER
/* =================================== */
.container {
	padding-left: 7%;
}

/* =================================== */
/* SIDEBAR
/* =================================== */

/* ========= LOGO ========= */
#logo {
	background: #2bbfbd;
	text-align: center;
	padding: 22px 0px;
	height: 42px;
}

#logo a img {
	width: 65%;
}

/* ========= MENU ========= */
.menu {
	text-align: center;
	margin-top: 20px;
}

.bottom {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.menu ul li a {
	padding: 18% 0px;
	display: block;
}

.menu ul li a img {
	width: 20%;
}

/* =================================== */
/* HEADER
/* =================================== */
header {
	background: #fff;
}

header .search {
	height: 42px;
	padding: 22px 0;
	padding-left: 3%;
}

/* =================================== */
/* FEATURE
/* =================================== */
.feature {
	background: url('../img/feature.png') no-repeat;
	background-size: cover;
	height: 220px;
	position: relative;
}

.feature span {
	background: url('../img/location-icon.png') no-repeat left;
	background-size: 20px;
	padding: 30px;
	position: absolute;
	bottom: 0;
	left: 40px;
	font-size: 0.8em;
	color: #fff;
}

/* =================================== */
/* INPUT
/* =================================== */
input {
	border: 0px;
	border-bottom: 1px solid #d7d7d7;
	padding: 13px 0px;
	font-family: 'Montserrat';
	font-weight: normal;
	box-sizing: border-box;
	transition: all 0.3s;
}

input:focus {
	border-bottom: 1px solid #9A9A9A;
	padding-left: 10px;
}

input.search-icon {
	background: url('../img/search-icon.png') no-repeat right;
	background-size: 15px;
}


input.input-lg {
	width: 37.6%;
}